@page "/grupos"
@using API.Clients;
@using DTOs;

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject NavigationManager NavigationManager
<h3>Grupos</h3>
<button class="btn btn-success mb-3" @onclick="NuevoGrupo">Nuevo Grupo</button>
@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">@mensajeError</div>
}
@if (grupos == null)
{
    <p>Cargando grupos</p>
}
else if (!grupos.Any())
{
    <p>No hay grupos.</p>
}
else
{
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha alta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grupo in grupos)
            {
                <tr>
                    <td>@grupo.Id</td>
                    <td>@grupo.Nombre</td>
               
                    <td>@grupo.Descripcion</td>
                    <td>@grupo.FechaAlta</td>
                    <td>
                        <button class="btn btn-primary btn-sm me-1" @onclick="() => EditarGrupo(grupo.Id)">Editar</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => EliminarGrupo(grupo.Id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private string mensajeError;
    List<GrupoDTO> grupos;

    protected override async Task OnInitializedAsync()
    {
        var lista = await GrupoApiClient.GetAllAsync();
        grupos = lista.ToList();
    }
    private void NuevoGrupo()
    {
        NavigationManager.NavigateTo("/grupos/create");
    }
    private void EditarGrupo(int id)
    {
        NavigationManager.NavigateTo($"/grupos/update/{id}");
    }
    private async Task EliminarGrupo(int id)
    {
        try
        {
            await GrupoApiClient.DeleteAsync(id);
            grupos = grupos.Where(p => p.Id != id).ToList();
        }
        catch (Exception ex)
        {
            mensajeError = $"Error al eliminar el grupo :{ex.Message}";
        }
    }
}
