@page "/planes"
@using API.Clients;
@using DTOs;

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@inject NavigationManager NavigationManager
<h3>Planes</h3>
<button class="btn btn-success mb-3" @onclick="NuevoPlan">Nuevo Plan</button>
@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">@mensajeError</div>
}
@if(planes==null){
    <p>Cargando planes</p>
}
else if(!planes.Any()){
    <p>No hay planes.</p>
}
else{
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Descripcion</th>
                <th>Fecha alta</th>
                <th>Grupo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in planes)
            {
                <tr>
                    <td>@plan.Id</td>
                    <td>@plan.Nombre</td>
                    <td>@plan.FechaInicio</td>
                    <td>@plan.FechaFin</td>
                    <td>@plan.Descripcion</td>
                    <td>@plan.FechaAlta</td>
                    <td>@grupos.FirstOrDefault(g => g.Id == plan.GrupoId)?.Nombre</td>
                    <td>
                        <button class="btn btn-primary btn-sm me-1" @onclick="() => EditarPlan(plan.Id)">Editar</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => EliminarPlan(plan.Id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>}
@code {
    private string mensajeError;
    List<PlanDTO> planes;
    private List<GrupoDTO> grupos = new();

    protected override async Task OnInitializedAsync()
    {
        var lista = await PlanApiClient.GetAllAsync();
        planes = lista.ToList();
        grupos = (await GrupoApiClient.GetAllAsync()).ToList();
    }
    private void NuevoPlan(){
        NavigationManager.NavigateTo("/planes/create");
    }
    private void EditarPlan(int id)
    {
        NavigationManager.NavigateTo($"/planes/update/{id}");
    }
    private async Task EliminarPlan(int id)
    {
        try
        {
            await PlanApiClient.DeleteAsync(id);
            planes = planes.Where(p => p.Id != id).ToList();
        }
        catch(Exception ex)
        {
            mensajeError = $"Error al eliminar el plan :{ex.Message}";
        }
    }
}
